
## logistic Regression
Logistic Regression is the appropriate regression analysis to conduct when the dependent variable is dichotomous (binary). Like all regression analyses, the logistic regression is a predictive analysis. Logistic regression is used to describe data and to explain the relationship between one dependent binary variable and one or more independent variables.
If the output variable or the response variable is discrete(categorical) in nature, then we use the Logistic Regression
Example: Yes or No, get a disease or not, pass or fail, defective or non-defective

Also called as classification algorithm, because we are classifying the data. It predicts the probability associated with each dependent variable category.
It does not give us the output, it just gives us the probability associated with the output. As it is a classification problem, all the values will lie between 0 and 1.
The shape of the curve looks like a sigmoid curve.


To predict which class the data belongs to, a threshold can be set. Based upon this threshold obtained estimated prob is classified into classes.

Multiple Logistic Regression is quite similar to MLR, only the b coefficients vary.
y = b0 + b1x1 + b2x2 + b3x3 +........ bnxn + E
b0 is the y-intercept
b1, b2, b3,......bn are the coefficients in the logistic regression which are not the original values, these are the log values.
Types of Logistic Regression:
1.Binary Logistic Regression: performed on binary response variables.It has only 2 categories such as P/F, T/F, D/ND.....
2.Nominal Logistic Regression : Performed on nominal variables. These are categorical variables that have more than three possible categories with no natural ordering.
Example: Type of vehicle like Petrol, Diesel, CNG
3. Ordinal Logistic Regression : Performed on ordinal response variables. These are categorical variables that have three or more possible categories with natural ordering.
Example: 10, 12.

Confusion Matrix: It measures the effectiveness of the model.Better the effectiveness better the performance and that's exactly what we want. Confusion Matrix is a performance measurement for ML Classification
ROC- AUC Curve:
It is a simple way to summarize all the information.

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data1=pd.read_csv("C:\\Users\\USER\\Desktop\\sandy11\\train.csv")

In [3]:
data1.head(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871